body
  :font-family verdana,sans-serif

#hd
  :height 88px
  :background #cacaca url(../images/header-background.png) repeat-x fixed top left
  :padding 8px 12px
  :color #282828
  :font-weight bold
  :font-size 108%

  h1
    :margin 13px 26px
    :font-size 153.9%


#ft
  :background-color #cecece
  :padding 8px 12px
  :color #333350
  :font-weight bold
  :font-size 85%


#bd
  :margin 13px 0
  :background #fff url(../images/sidebar-background.png) repeat-y fixed top right


#content
  :padding 8px 12px
  :background-color #ffff
  :border 1px solid #ccc
  :color #282828
  
  p
    :margin 6px 0

  a
    :padding 1px 2px
    :font-weight bold
    :text-decoration none
  
  a:link, a:active, a:visited
    :color #e9352e

  a:hover
    :background-color #e9352e
    :color #fff

  strong
    :font-weight bold
    :color #eb851c

  form
    :margin 16px 13px
    :padding 13px 13px 13px 26px
    :background-color #f6f6f6

    label
      :width 160px
      :font-size 93%
      &.required
        :font-weight bold

    input[type="text"], input[type="password"]
      :width 260px
      :margin 2px 0 4px 26px
      :padding 2px 3px
      :font-size 123.1%
      :color #215ba2

    input[type="submit"]
      :margin 13px 0
      :font-size 123.1%


#sidebar
  :padding 8px 12px
  :color #282828

  p
    :font-size 116%

  a
    :padding 1px 2px
    :font-weight bold
    :text-decoration none

  a:link, a:active, a:visited
    :color #3a6eb8

  a:hover
    :background-color #3a6eb8
    :color #fff


#flash_notice
  :width 98%
  :margin 0 0 13px 0
  :padding 4px 6px
  :border-top 1px solid #6c6
  :border-bottom 1px solid #6c6
  :background-color #cfc


#flash_error
  :width 98%
  :margin 0 0 13px 0
  :padding 4px 6px
  :border-top 1px solid #c66
  :border-bottom 1px solid #c66
  :background-color #fcc


span.inline_error
  :padding-left 20px
  :color #d00


div.formError
  :margin-bottom 13px
  :color #d00


.field_error input[type="text"], .field_error input[type="password"]
  :border 2px solid #d00